{
    "apiVersion": "1.0",
    "swaggerVersion": "1.2",
    "basePath": "http://secxbrl.28.io/v1/_queries/public/api",
    "resourcePath": "",
    "produces": [
        "application/json"
    ],
    "description": "CellStore Query API",
    "apis": [
        {{#apis}}
            {
                "path": "{{{path}}}",
                "method": "GET",
                "summary": "{{{description}}}",
                "nickname": "{{{nickname}}}",
                "parameters": [
                    {{#variables}}
                        {
                            "name": "{{{name}}}"
                        },
                    {{/variables}}
                ]
            }
        {{/apis}}
    ]
}
