#dashboard {
    .radio {
        label {
            padding-right: 15px;
        }
    }

    h2 {
        margin-top: 0;
    }

    .concepts {
        li:first-child {
            padding: 0;
            >input {
                border: none;
            }
        }
    }
}
