<div id="dashboard">
    <header class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a class="fa fa-list" href="/"></a>
                CellStore Dashboard
            </span>
        </div>
        <account></account>
    </header>
   <div class="std-padding">
       <h2>Select an Entity</h2>
       <input type="text" ng-model="entity" typeahead-on-select='selectEntity($item)' typeahead="entity.Profiles.FSA.SubmitterNameAlphabetic for entity in entities | filter:$viewValue | limitTo:8" class="form-control">
       <div class="radio">
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="BalanceSheet" checked>
                Balance Sheet
           </label>
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="ProfitLoss" disabled>
               Profit/Loss
           </label>
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="CashFlow" disabled>
               Cash Flow
           </label>
       </div>
   </div>
</div>
