<div id="dashboard">
    <header class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a class="fa fa-list" href="/"></a>
                CellStore Dashboard
            </span>
        </div>
        <account></account>
    </header>
   <div class="std-padding scrollable">
       <h2>Select an Entity</h2>
       <input type="text"
              ng-model="entity.Profiles.FSA.SubmitterNameAlphabetic"
              typeahead-on-select='selectEntity($item)' typeahead="entity.name for entity in getEntities($viewValue)" typeahead-loading="loadingEntities" class="form-control">
       <i ng-show="loadingEntities" class="fa fa-refresh fa-spin"></i>
       <div class="radio">
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="BalanceSheet" checked>
                Balance Sheet
           </label>
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="IncomeStatement">
               Income Statement
           </label>
           <label>
               <input type="radio" ng-model="disclosure" name="disclosure" value="CashFlowStatement">
               Cash Flow Statement
           </label>
       </div>
       <div ui-view></div>
   </div>
</div>
